<div class="search-bar">
  <mat-form-field appearance="fill">
    <mat-label>Pesquisar Produtos</mat-label>
    <input matInput>
    <button mat-button matSuffix mat-icon-button aria-label="Pesquisar">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="product-container">
  <div *ngFor="let product of products" class="product-item">
    PAAAAo
    <div class="product-image"> //imagem </div>
    <div class="product-name">{{ product.name }}</div>
    <div class="product-price">{{ product.price | currency:'BRL' }}</div>
  </div>
</div>
